.card-body {
	padding: 0.5rem;
}

.accent-title {
	font-family: 'Rubik Bubbles', sans-serif;
	font-family: 'Modak', sans-serif;
	/* font-family: 'Bowlby One SC', sans-serif; */
	/* font-family: 'Titan One', sans-serif; */
	/* font-family: 'Fugaz One', sans-serif; */
	/* font-family: 'Knewave', sans-serif; */
	/* font-family: 'Sixtyfour', sans-serif; */


	-webkit-text-stroke: 1.5px #181b26;
	text-stroke: 1.5px #393939;
	text-shadow: 5px 5px 0px #393939;
	/* -webkit-text-stroke: 1.5px blue; */
	/* text-shadow: 3px 3px 0px red; */
	font-size: 3.5rem;
	/* font-weight: 1; */
	transform: skew(-14deg);
}

.bg-yellow {
	/* background-color: yellow; */
}

.bg-gray {
	/* background-color: #e2e2e2; */
}

.fusen1 {
	background-color: #74aacf;
}
.fusen2 {
	/* background-color: #87d0b9; */
	background-color: #88b0cd;
}
.fusen3 {
	/* background-color: #e8e8e8; */
}
.fusen4 {
	/* background-color: #d0af87; */
	background-color: #a2b8c9;
}

.border-color-gray {
	border-color: #bdbdbd;
}
.shadow-center {
	box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.7);
}

.input-no-focus {
  pointer-events: none;
}

.list-border {
	border-left: 3px solid;
	border-top: 3px solid;
	padding-left: 5px;
	border-radius: 14px 0 0 0;
}